[Unit]
Description=Start Leantime
After=networking.service

[Service]
ExecStart=/usr/bin/bash -c '\
    /usr/bin/docker rm -f leantime; \
    /usr/bin/docker rm -f mysql; \
    sleep 5s; \
    dump=''; \
    /usr/bin/docker run -d -p 127.0.0.1:3306:3306 --name mysql -e MYSQL_ROOT_PASSWORD=pass -e MYSQL_DATABASE=leantime -e MYSQL_USER=admin -e MYSQL_PASSWORD=pass -v /home/hape/db_data:/var/lib/mysql -v /home/hape/dump.sql:/docker-entrypoint-initdb.d/dump.sql biarms/mysql:latest --character-set-server=utf8 --collation-server=utf8_unicode_ci;\
    sleep 45s; \
    rm -f /home/hape/dump.sql; \
    /usr/bin/docker run -d --net host -p 0.0.0.0:80:80 --name leantime -e LEAN_DB_DATABASE=leantime -e LEAN_DB_USER=admin -e LEAN_DB_PASSWORD=pass -e LEAN_DB_HOST=127.0.0.1 leantime:latest; \
    exit 0'

[Install]
WantedBy=multi-user.target